:root {
  --primary: #da2f04;
  --secondary: #33670a;
  --background: #fffaee;
  --border: #ccc;
  --font: Pacifico, cursive, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  border: none;
  outline: none;
}

@font-face {
  font-family: Pacifico;
  src: url("/public/Pacifico-Regular.ttf");
}
